.Tabelle{
    text-align: center; margin: 20px auto; width: 90%; min-width: 300px; border-collapse: collapse; border-radius: 20px 20px 20px 20px; overflow: hidden; box-shadow: 0 0 10px rgba(56, 0, 0, 0.356);
    color: #00115a;
}
.Tabelle thead tr{
    background-color: #068bbc;
    color: white;
    font-weight: bold;
}
td,th{
    padding: 10px 10px;
    padding-left: 15px;
}
.Tabelle tbody tr{
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);

}
.Tabelle tbody tr:last-of-type{
    border-bottom: none;
}