.Tabelle{
    text-align: center; margin: 20px auto; width: 90%; min-width: 300px; border-collapse: collapse; border-radius: 20px 20px 20px 20px; overflow: hidden; box-shadow: 0 0 10px rgba(56, 0, 0, 0.356);
}
.Tabelle thead tr{
    background-color: red;
    color: white;
    font-weight: bold;
}
td,th{
    padding: 10px 10px;
}
.Tabelle tbody tr{
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.Tabelle tbody tr:nth-of-type(even){
    background-color: rgb(231, 231, 231);
}
.Tabelle tbody tr:last-of-type{
    border-bottom: none;
}