.Tabelle{
    text-align: center;
    margin: 20px auto;
    width: 90%; 
    min-width: 300px; 
    border-collapse: collapse;
    border-radius: 20px 20px 20px 20px; 
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.603);
    color: #ffffff;
}
.Tabelle thead tr{
    background-color: var(--primary);
    color: white;
    font-weight: bold;
}
td,th{
    padding: 15px 15px;
}
.Tabelle tbody tr{
    background-color: #674b9b6c;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
